<!-- sub-template used to display user avatar next to their posts (distinguished by '_' prefix in file name) -->

<!--we get the 'post' variable from the for loop in 'user.html' that creates it, 'author' is set to the instance variable 'user' in the 'user view function' in the 'posts' dictionary, so that means 'author' contains all of the user's data such as username, about_me, and avatar() and more which can be accessed using the "." operator as done below -->
{% set admin_username = 'tony' %}
<table class="table table-hover">
  <tr>
    <td width="70px">
      <br>
      <a href="{{ url_for('main.user', username=post.author.username) }}">
        <img style="border-radius: 50%;" src="{{ post.author.avatar(70) }}" />
      </a>
      {% if post.author.username == admin_username %}
      <p style="text-align: center; color:mediumblue; font-size: small;">{{ _('Admin') }}</p>{% endif %}
    </td>
    <td>
      <br>
      <span class="user_popup">
        <a style="color: rgb(178, 34, 34);" href="{{ url_for('main.user', username=post.author.username) }}">
          <b><big>{{ post.author.username.title() }}</big></b>
        </a>
      </span>
      <br>
      <p>{{ moment(post.timestamp).calendar() }} {{_('said')}}:</p>
      <p><b><span style="color: firebrick;">"</span> </b><span id="post{{ post.id }}">{{ post.body }}</span><b> <span
            style="color: firebrick;">"</span></b>
      {% if post.language and post.language != g.locale %}
      <br><br>
      <span id = "translation{{ post.id }}">
        <a href="javascript:translate(
          '#post{{ post.id }}',
          '#translation{{ post.id }}',
          '{{ post.language }}',
          '{{ g.locale }}');">{{ _('Translate') }}</a>
      </span>
      {% endif %}
      </p>
      {% if current_user.id == post.author.id %}
      <div class="dropdown">
        <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="true">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li>
            <form action="{{ url_for('main.update_post', post_id=post.id) }}">
              {{ UDForm.hidden_tag() }}
              {{ UDForm.submit(value= _('Edit'), style=" color: midnightblue; background-color: white;", class_='btn btn-xs') }}
            </form>
            <form action="{{ url_for('main.delete_post', post_id=post.id) }}" method="post">
              {{ DPForm.hidden_tag() }}
              {{ DPForm.submit(value= _('Delete'), style=" color: red; background-color: white;", class_='btn btn-xs') }}
            </form>
          </li>
        </ul>
      </div>
      {% endif %}
    </td>
  </tr>
</table>