<!-- sub-template used to display user avatar next to their posts (distinguished by '_' prefix in file name) -->

<!--we get the 'post' variable from the for loop in 'user.html' that creates it, 'author' is set to the instance variable 'user' in the 'user view function' in the 'posts' dictionary, so that means 'author' contains all of the user's data such as username, about_me, and avatar() and more which can be accessed using the "." operator as done below -->
{% if post.author %}
{% set admin_username = 'tony' %}
<table class="table table-hover">
  <tr>
    <td width="70px">
      <br>
      <a href="{{ url_for('main.user', username=post.author.username) }}">
        <img style="border-radius: 50%;" src="{{ post.author.avatar(70) }}" />
      </a>
      {% if post.author.username == admin_username %}
      <p style="text-align: center; color:mediumblue; font-size: small;">{{ _('Admin') }}</p>{% endif %}
    </td>
    <td>
      <br>
      <a style="color: rgb(178, 34, 34);"
        href="{{ url_for('main.user', username=post.author.username) }}"><b><big>{{ post.author.username.title() }}</big></b></a>

      <br>
      <p>{{ moment(post.timestamp).calendar() }} {{_('said')}}:</p>
      <p><b><span style="color: firebrick;">"</span></b> {{ post.body }} <b><span style="color: firebrick;">"</span></b>
      </p>
      {% endif %}
    </td>
  </tr>
</table>