{% extends 'bootstrap/base.html' %}

{% block title %}
{% if title %}{{ title }} - Ultimate{% else %}Ultimate{% endif %}
{% endblock %}


{% block navbar %}
<nav style=" border-radius: 0%;" class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a style="color: rgb(178, 34, 34);" class="navbar-brand" href="{{ url_for('main.index') }}">
        <b><big><span style="color: rgb(226, 226, 226);"><span class="glyphicon glyphicon-tower"
                aria-hidden="true"></span> ULTIMATE <span class="glyphicon glyphicon-tower"
                  aria-hidden="true"></span></span></big></b>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      {% if g.search_form %}
      <form class="navbar-form navbar-left" method="get" action="{{ url_for('main.search') }}">
        <div class="form-group">
          {{ g.search_form.q(size = 26, class ='form-control', placeholder=g.search_form.q.label.text) }}
        </div>
      </form>
      {% endif %}
      <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_anonymous %}
        <li><a style="color:rgb(178, 34, 34);"
            href="{{ url_for('auth.login') }}"> <big><span class="glyphicon glyphicon-log-in"
                aria-hidden="true"></span></big></a></li>
        {% else %}
        <li><a href="{{ url_for('main.index') }}">
            <big><span class="glyphicon glyphicon-home" aria-hidden="true"></span></big>
          </a></li>
        <li><a href="{{ url_for('main.explore') }}">
            <big><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></big>
          </a></li>
        <li><a href="{{ url_for('main.all_users') }}">
            <big><span class="glyphicon glyphicon-user" aria-hidden="true"></span></big>
          </a></li>
        <li>
          <a href="{{ url_for('main.messages') }}">
            <big><span class="glyphicon glyphicon-inbox" aria-hidden="true"></span></big>
            {% set new_messages = current_user.new_messages() %}
            <span id="message_count" class="badge" style="visibility: 
            {% if new_messages %} visible
            {% else %}hidden {% endif %};">
              {{ new_messages }}
            </span>
          </a>
        </li>
        <li><a href="{{ url_for('main.user', username=current_user.username) }}">
            <span><img style="border-radius: 50%;" src="{{ current_user.avatar(22) }}"></span>
          </a></li>
        <li><a style="color: rgb(178, 34, 34);" href="{{ url_for('auth.logout') }}">
            <big><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></big>
          </a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-info" role="alert">{{ message }}</div>
  {% endfor %}
  {% endif %}
  {% endwith %}

  {# application content needs to be provided in the app_content block #}
  {% block app_content %}{% endblock %}

</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{{ moment.lang(g.locale) }}
<script>
  function translate(sourceElem, destElem, sourceLang, destLang) {
    $(destElem).html('<img scr="{{ url_for('static', filename='loading.gif') }}">');
    $.post('/translate', {
      text: $(sourceElem).text(),
      source_language: sourceLang,
      dest_language: destLang
    }).done(function(response) {
      $(destElem).text(response['text'])
    }).fail(function() {
      $(destElem).text("{{ _('Error: Could not contact server.') }}");
    });
  }
  $(function () {
    var timer = null; // defining timer variable
    var xhr = null;
    $('.user_popup').hover(
      function (event) {
        //mouse hovering event handler
        var elem = $(event.currentTarget);
        timer = setTimeout(function () { // setTimeout(function() {}, int) is a timer object
          timer = null;
          xhr = $.ajax(
            '/user/' + elem.first().text().toLowerCase().trim() + '/popup').done(
            function (data) {
              xhr = null;
              elem.popover({
                trigger: 'manual',
                html: true,
                animation: false,
                container: elem,
                content: data
              }).popover('show');
              flask_moment_render_all();
              // create and display popup here
            }
          )
        }, 500); // assigns popup a 1 second delay
      },
      function (event) {
        //mouse stop hovering event handler
        var elem = $(event.currentTarget);
        if (timer) { //if  timer was started
          clearTimeout(timer); //cancel the timer
          timer =
            null; // setting timer to nothing until timer is started again in the mouse hovering event handler
        } else if (xhr) {
          xhr.abort();
          xhr = null;
        } else {
          elem.popover('destroy');
        }
      }
    );
  });
  function set_message_count(n) {
    $('#message_count').text(n);
    $('#message_count').css('visibility', n ? 'visible' : 'hidden');
  }

  {% if current_user.is_authenticated %}
  $(function() {
    var since = 0;
    setInterval(function() {
      $.ajax('{{ url_for('main.notifications') }}?since=' + since).done(
        function(notifications) {
          for (var i = 0; i < notifications.length; i++) {
            if (notifications[i].name == 'unread_message_count')
              set_message_count(notifications[i].data);
            since = notifications[i].timestamp;
          }
        }
      );
    }, 10000);

  });
{% endif %}
</script>
{% endblock %}