{% extends "base.html" %}

{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %}
{% if form %}
{{ wtf.quick_form(form) }}
{% if posts %}
<h1 style="text-align: center; color: firebrick; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"><b><big>{{ _('My Feed') }}</big></b></h1> 
{% endif %}
{% else %}
<h1 style="text-align: center; color: firebrick; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"><b><big>{{ _('#Explore Ultimate') }}</big></b></h1>
<p style="color: grey; text-align: center;"><u>{{ _("See all user's posts below") }}</u></p>

{% endif %}
{% for post in posts %}
{% include '_post.html' %}
{% endfor %}
{% if posts %}
<nav aria-label="...">
 <ul class="pager">
  <li class="previous{% if not prev_url %} disabled{% endif %}">
   <a href="{{ prev_url or '#' }}">
    <span aria-hidden="true">&larr;</span> {{ _('Newer posts') }}
   </a>
  </li>
  <li class="next{% if not next_url %} disabled{% endif %}">
   <a href="{{ next_url or '#' }}">
    {{ _('Older posts') }} <span aria-hidden="true">&rarr;</span>
   </a>
  </li>
 </ul>
</nav>
{% else %}
<br><br><br><br>
{% if form %}
<p style="text-align: center; color: dimgrey;">{{ _("You haven't established a feed yet") }}</p>
<p style="text-align: center; color: dimgrey;">{{ _('Follow users or make a post to establish it') }}</p>
{% else %}
<p style="text-align: center; color: dimgrey;">{{ _("Users haven't made any posts yet") }}</p>
{% endif %}
{% endif %}
{% endblock %}