{% extends "base.html" %}

{% block app_content %}
<ol style="background-color: white;" class="breadcrumb">
  <li><a href="{{ url_for('main.index') }}">{{ _('Home') }}</a></li>
  <li class="active">{{ _('Search') }}</li>
</ol>

{% if total != 0 or users %}
<h1
  style="text-align: center; color: rgb(178, 34, 34); font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
  <b><big>{{ _('Results for') }}: "{{ search }}" </big></b></h1>
{% endif %}

{% if users %}
<p><b>Users:</b></p>
{% for user in users %}
<!-- this is the post variable used in _post.html-->
{% set admin_username = 'tony' %}
<table class="table table-hover">
  <tr>
    <td width="70px">
      <br>
      <a href="{{ url_for('main.user', username=user.username) }}">
        <img style="border-radius: 50%;" src="{{ user.avatar(70) }}" />
      </a>
      {% if user.username == admin_username %}
      <p style="text-align: center; color:mediumblue; font-size: small;">{{ _('Admin') }}</p>{% endif %}
    </td>
    <td>
      <br><br>
      <span class="user_popup">
        <a style="color: rgb(178, 34, 34);"
          href="{{ url_for('main.user', username=user.username) }}"><b><big>{{ user.username.title() }}</big></b></a></span>
      {% if not current_user.is_following(user) %}
      {% else %}
      <p style="color: gray;"><i>
          [You follow this user]</i>
      </p>
      {% endif %}
    </td>
  </tr>
  </td>
  </tr>
</table>
{% endfor %}
{% endif %}

{% if total != 0 %}
<p><b>Posts:</b></p>
{% for post in posts %}
{% include '_post.html' %}
{% endfor %}
{% endif %}
<hr>
{% if total == 0 and not users %}
<h1
  style="text-align: center; color: rgb(178, 34, 34); font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
  <b><big>{{ _('No results for') }}: "{{ search }}" </big></b></h1>
{% endif %}

{% if total != 0 %}
<nav aria-label="...">
  <ul class="pager">
    <li class="previous{% if not prev_url %} disabled{% endif %}">
      <a href="{{ prev_url or '#' }}">
        <span aria-hidden="true">&larr;</span>
        {{ _('Previous results') }}
      </a>
    </li>
    <li class="next{% if not next_url %} disabled{% endif %}">
      <a href="{{ next_url or '#' }}">
        {{ _('Next results') }}
        <span aria-hidden="true">&rarr;</span>
      </a>
    </li>
  </ul>
</nav>
{% endif %}
{% endblock %}