{% extends "base.html" %}
{% set admin_username = 'Tony' %}
{% block app_content %}
<table class="table table-hover">
 <tr>
  <td width="256px"><img  src="{{ user.avatar(256) }}"></td>
   <td>
       {% if user.username == admin_username %}
    <h1 style="color: firebrick; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"><b><big>{{ user.username.upper() }}</big><b style="font-size: small; color: mediumblue;">[ADMIN]</b></b></h1>
    {% else %}
    <h1 style="color: firebrick; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
    <b><big>{{ user.username.upper() }}</big></b></h1>
    {% endif %}
    {% if user.about_me %}<p><b>{{ user.about_me }}</b></p>{% endif %}
    {% if user.last_seen %}<p style="color: forestgreen;"><u>{{ _('Last Active') }}</u>: {{ _('%(when)s', when=moment(user.last_seen).fromNow()) }}</p>{% endif %}<br>
    <p>{{ user.followers.count() }} <b>{{ _('Followers') }}</b> <big>|</big> {{ user.followed.count() }} <b>{{ _('Following') }}</b></p><br>
    {% if user == current_user %}
    <p><a style="color: firebrick; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" href="{{ url_for('main.edit_profile') }}">{{ _('Edit your profile') }}</a></p>
    {% elif not current_user.is_following(user) %}
    <p>
     <form action="{{ url_for('main.follow', username=user.username) }}" method="post">
     {{ form.hidden_tag() }}
     {{ form.submit(value=_('Follow'), class_='btn btn-default') }}
     </form>
    </p>
    {% else %}
    <p>
     <form action="{{url_for('main.unfollow', username=user.username) }}" method="post">
     {{ form.hidden_tag() }}
     {{ form.submit(value=_('Unfollow'), class_='btn btn-default') }}
     </form>
    </p>
    {% endif %}
   </td>
  </tr>

 </table>
 {% for post in posts %} <!-- this is the post variable used in _post.html-->
  {% include '_post.html' %} <!-- include statement is replaced with _post.html code -->
 {% endfor %}
 {% if posts %}
    <nav aria-label="...">
     <ul class="pager">
      <li class="previous{% if not prev_url %} disabled{% endif %}">
       <a href="{{ prev_url or '#' }}">
        <span aria-hidden="true">&larr;</span> {{ _('Newer posts') }}
       </a>
      </li>
      <li class="next{% if not next_url %} disabled{% endif %}">
       <a href="{{ next_url or '#' }}">
        {{ _('Older posts') }} <span aria-hidden="true">&rarr;</span>
       </a>
      </li>
     </ul>
    </nav>
    {% else %}
    <br><br><br><br>
    <p style="text-align: center; color:dimgrey ;">{{ _('No posts to display') }}</p>
    {% endif %}
{% endblock %}